@import "/src/styles/variables.scss";

.ratingInterface {
  display: flex;
  flex-grow: 1;
  height: 100%;
  background-color: #ffffff;

  .poster {
    width: 20%;
    position: relative;
    bottom: 30px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: sandybrown;
  }

  .ratingDetail {
    display: grid;
    grid:
      "ratingTitle ratingTitle" 1.5fr
      "ratingInfo ratingInfo" 1fr
      "ratinghandling ratingUserInterface" 2fr
      / 2fr 4fr;
    gap: 10px;
    width: 100%;
    padding: 20px;

    .ratingTitle {
      grid-area: ratingTitle;

      .movieTitle {
        font-size: 33px;
        font-weight: 700;
      }

      .movieCategory {
        margin-top: 5px;
        font-size: 17px;
        color: #7f7f7f;
      }
    }

    .ratingInfo {
      display: flex;
      align-items: center;
      grid-area: ratingInfo;
      padding: 10px 0;
      border-top: 1px solid;
      border-bottom: 1px solid;
      font-size: 17px;
    }
  }
}
