@import "/src/styles/variables.scss";

.filmCrew {
  padding-top: 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;

  .filmCrewTitle {
    margin: 8px 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
  }

  .filmCrewList {
    display: flex;
    width: 100%;
    gap: 10px;
    // overflow-x: hidden;

    .filmCrewListItem {
      margin-top: 15px;
      width: 49%;
      min-width: 49%;

      .threeBundleWrapper {
        display: flex;
        margin-bottom: 10px;

        .imageWrapper {
          @include flexCenter;
          width: 40px;
          height: 40px;
          border: 1px solid;
          border-radius: 5px;

          .directorImage {
            width: 30px;
            height: 30px;
          }
        }

        .filmCrewWrapper {
          flex: 1 auto;
          margin-left: 10px;
          border-bottom: 1px solid #f0f0f0;

          .directorName {
            font-size: 17px;
            font-weight: 700;
            line-height: 22px;
          }

          .directorPosition {
            font-size: 14px;
            line-height: 22px;
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
