@import "/src/styles/variables.scss";

.filmCrew {
  @include descriptionLine;
  padding-top: $padding20;

  .filmCrewTitle {
    @include descriptionTitleFont;
    margin-bottom: $margin10;
  }

  .filmCrewList {
    display: flex;
    width: 100%;
    gap: 10px;
    // overflow-x: hidden;

    .filmCrewListItem {
      @include flexSlider;
      margin-top: $margin10;

      .threeBundleWrapper {
        display: flex;
        margin-bottom: $margin10;

        .imageWrapper {
          @include flexCenter;
          @include area(40px, 40px);
          border: 1px solid;
          border-radius: 5px;

          .directorImage {
            @include area(30px, 30px);
          }
        }

        .filmCrewWrapper {
          flex: 1 auto;
          margin-left: $margin10;
          border-bottom: 1px solid #f0f0f0;

          .directorName {
            @include fontCustom(17px, 22px);
            font-weight: 700;
          }

          .directorPosition {
            @include fontCustom(14px, 22px);
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
