@import "/src/styles/variables.scss";

.aside {
  align-self: flex-start;
  width: 1000px;
  padding: $padding20;
  background-color: #ffffff;

  .galleryTitle {
    @include descriptionTitleFont;
    margin-bottom: 10px;
  }

  .galleryList {
    display: flex;
    gap: 10px;

    .galleryListItem {
      width: 50%;

      .imageWrapper {
        @include area(100%, 100%);

        .filmsImage {
          @include area(100%, 100%);
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}
