@import "/src/styles/variables.scss";

.aside {
  grid-area: media;
  padding: $padding20;
  background-color: #ffffff;

  .galleryTitle {
    @include descriptionTitleFont;
    margin-bottom: 10px;
  }

  .galleryList {
    display: flex;
    gap: 10px;

    .galleryListItem {
      @include area(130px, 90px);
      min-width: 49%;
      border: 1px solid;
    }
  }
}
