.mainBox {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;

  .filmTheme {
    display: flex;
    align-items: flex-end;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
  }

  .filmList {
    display: flex;
    overflow: hidden;
  }

  .prevBtn,
  .nextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 225px;
    width: 35px;
    height: 35px;
    background-color: white;
    box-shadow: 2px 1px 2px gray;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    color: #aeaeb1;
    cursor: pointer;
  }

  .prevBtn {
    left: -20px;
  }
  .nextBtn {
    right: -20px;
  }
}
