@import "/src/styles/variables.scss";

.thumbnailImage {
  @include flexCenter;
  height: 300px;
  position: relative;
  background-color: #1c1d1f;

  .coverImage {
    @include area(50%, 100%);
  }
}
