@import "/src/styles/variables.scss";

.thumbnailImage {
  @include flexCenter;
  height: 300px;
  position: relative;
  background-color: black;

  .coverImage {
    @include area(50%, 100%);
  }

  .rankingInfoList {
    display: flex;
    position: absolute;
    left: 420px;
    bottom: 0;
  }
}
