.accumulated {
  width: 100%;
  height: 62px;
  background-color: #101113;
  color: white;
  .signiture {
    background-color: pink;
  }
}
.information {
  width: 100%;
  height: 300px;
  background-color: #1c1d1f;
  color: #a5a5a7;
  font-size: 13px;
  .service {
    background-color: blue;
    .customerService {
      display: block;
    }
  }
  .contact {
    background-color: antiquewhite;
  }
  .detailInformation {
    background-color: aquamarine;
  }
  .socialLanguage {
    background-color: salmon;
  }
}
