@import "/src/styles/variables.scss";

.information {
  height: 250px;
  padding: 0 200px;
  background-color: #ffffff;

  .ratingInterface {
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: #ffffff;

    .poster {
      width: 20%;
      position: relative;
      bottom: 30px;
      border: 2px solid #ffffff;
      border-radius: 5px;
      background-color: sandybrown;
    }

    .ratingDetail {
      display: grid;
      grid:
        "ratingTitle ratingTitle" 1.5fr
        "ratingInfo ratingInfo" 1fr
        "ratinghandling ratingUserInterface" 2fr
        / 2fr 4fr;
      gap: 10px;
      width: 100%;
      padding: $padding20;

      .ratingTitle {
        grid-area: ratingTitle;

        .movieTitle {
          font-size: 33px;
          font-weight: 700;
        }

        .movieCategory {
          margin-top: 5px;
          font-size: 17px;
          color: #7f7f7f;
        }
      }

      .ratingInfo {
        @include flexCustom(flex-start, center);
        grid-area: ratingInfo;
        padding: $padding10 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-size: 17px;

        .ratingInfoText {
          margin: 3px;
        }

        .ratingAverage {
          margin: 3px;
        }
      }

      .ratingStar {
        @include flexCenter;
        flex-direction: column;
        grid-area: ratinghandling;
        border-right: 1px solid;

        .rating {
          color: #7f7f7f;
        }
      }

      .ratingUserInterface {
        @include flexCustom(flex-start, center);
        grid-area: ratingUserInterface;

        .interfaceWrapper {
          @include flexCustom(space-evenly, flex-start);
          width: 100%;

          .iconButton {
            @include flexCustom(flex-start, center);
            border: none;
            background-color: #ffffff;

            .iconImage {
              @include area(15px, 15px);
            }

            .iconText {
              font-size: 16px;
              margin-left: 7px;
            }
          }

          .iconButton:hover {
            .iconImage {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
