.descriptionWrapper {
  background-color: #f8f8f8;
  padding: 0 200px;

  .descriptionCard {
    display: grid;
    grid:
      "description media" 2fr
      "description ." 8fr
      / 6fr 4fr;
    gap: 20px;
    grid-area: descriptionCard;
    padding: 28px 0 48px;

    .media {
      grid-area: media;
      background-color: #ffffff;
    }
  }
}
